<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex">
        <img src="assets/img/bus.png" class="mx-auto img-fluid align-self-center rounded-start" alt="Bus">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ambato - Quito</h5>
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted">Hora de salida: 12:00 PM </small></p>
          <p class="card-text"><small class="text-muted">Hora de llegada: 03:00 PM</small></p>
          <a href="#" class="btn btn-primary">Mas información</a>
        </div>
      </div>
    </div>
  </div>