<div class="search_tickets">
    <div class="card">
        <div class="card-header">
            <h3>Compra tu pasaje interprovincial</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="viajesForm" (ngSubmit)="onSubmit()">
                <p><i class="bi bi-geo-alt-fill"></i> Origen</p>
                <select class="form-select" formControlName="origen" [(ngModel)]="origenSel" (change)="capturarOrigen()">
                    <option *ngFor="let data of dataViajes" [ngValue]="data.lugarOrigen">{{data.lugarOrigen}}</option>
                </select><br>
                <p><i class="bi bi-geo-alt-fill"></i> Destino</p>
                <select class="form-select" formControlName="destino" [(ngModel)]="destinoSel" (change)="capturarDestino()">
                    <option *ngFor="let data of dataViajes" [ngValue]="data.lugarDestino">{{data.lugarDestino}}</option>
                </select><br>
                <button type="submit" class="btn btn-primary mb-3">Buscar Pasaje 
                    <i class="bi bi-arrow-right-circle"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="mostrar-tickets" *ngIf="mostrar">
    <p class="h2 p-3">Opciones disponibles para tu viaje de: {{origenSel}} - {{destinoSel}}</p>
    <div class="tickets">
        <app-table [data]="dataTickets" [columns]="columns"></app-table>
    </div>
</div>
