<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col" *ngFor="let columna of columns">
                    {{columna.title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fila of data ">
                <td *ngFor="let columna of columns">
                    {{fila[columna.field]}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="seleccionar(fila['idViaje'])">Seleccionar</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
