<div class="content">
    <div class="card card-wrapper">
        <img class="img img-fluid" src="assets/img/qr-code.png" alt="Codigo QR">
        <button class="btn btn-primary">Descargar Boleto</button>
    </div>
    <div class="card card-info">
        <p class="h2 m-2">Información del boleto</p>
        <p class="info"><strong>Origen: </strong> Ambato</p>
        <p class="info"><strong>Destino: </strong> Quito</p>
        <p class="info"><strong>Fecha: </strong> 28/01/2023</p>
        <p class="info"><strong>Hora: </strong> 10:00 AM</p>
        <p class="info"><strong>Cooperativa: </strong> Baños</p>
        <p class="info"><strong>N° Unidad: </strong> 123</p>
        <p class="info"><strong>N° Asiento: </strong> 2</p>
    </div>
</div>
